.mn-navbar {
  display: none;
  height: calc(100vh - 150px);
  width: 30%;
  min-width: 180px;
  position: fixed;
  transition: ease-in-out 500ms;
  top: 150px;
  right: -100%;
  z-index: 1;
  background-color: #450f29;
}

.mn-navbar.active {
  right: 0px;
  transition: ease-in-out 500ms;
}

.logo {
  text-align: center;
  vertical-align: bottom;
}

.log img {
  vertical-align: bottom;
}

.mn-navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 150px);
  /* background-color: violet; */
  justify-content: space-around;
  padding: 0px 20px;
}

.mn-navlinks li {
  list-style: none;
  /* margin: 0px 20px; */
  color: #ebeaea;
  text-decoration: none;
  /* background-color: yellowgreen; */
}

.mn-navlinks a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .mn-navbar {
    display: block;
  }
}
