.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #450f29;
  height: 150px;
}

.closeBtn2 {
  position: fixed;
  display: none;
  z-index: 1;
  background-color: #e7c2aa;
  right: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 15px;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  min-width: 600px;
}

.navlinks li {
  margin: 0px 20px;
  color: #ebeaea;
  text-decoration: none;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #e7c2aa;
  color: #443d3e;
}

.logo img {
  height: 150px;
}

@media only screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }

  .closeBtn2 {
    display: block;
  }
}
