.rarelpscard {
  width: 250px;
  /* background-color: sandybrown; */
  /* text-align: center; */
  font-size: 22px;
  margin: 15px 25px;
  display: inline-block;
  transition: ease-in 0.3s;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}

.rarelpscard p {
  /* padding: 3px; */
  margin: 0px 3px;
}

.rarelpscard:hover {
  transform: scale(1.1);
}

.rarelpscard img {
  width: 100%;
}

.rarecaption {
  justify-content: space-between;
  font-size: 22px;
}
