.flex-box {
  display: flex;
}

/* .homeMain {
  color: whitesmoke;
  background: url("../resources/images/record2.jpeg");
  width: 100%;
  min-height: 600px;
  background-size: cover;
  padding-top: 40px;
}

.homeMain h1 {
  font-size: 55px;
  background-color: #57514d;
  border-radius: 30px;
  text-align: center;
  width: 500px;
  margin-left: 160px;
} */

.home-main2,
.home-main3 {
  width: 90%;
  max-width: 1300px;
  justify-content: space-around;
  background-color: #57524e;
  padding: 50px 0px;
  margin: 0 auto;
}
.home-main2-left,
.home-main3-right {
  width: 45%;
}

.home-main2-left img,
.home-main3-right img {
  width: 100%;
  max-width: 550px;
}

.home-main2-right,
.home-main3-left {
  width: 40%;
  padding: 30px;
  color: #ebeaea;
}

.home-main2-right h2,
.home-main3-left h2 {
  font-size: 35px;
  font-weight: 700;
}

.home-main2-right p,
.home-main3-left p {
  font-size: 20px;
  line-height: 35px;
  margin: 25px 0px;
}

.home-main3-left p {
  font-size: 20px;
  line-height: 35px;
  margin: 25px 0px;
}

@media all and (max-width: 768px) {
  .home-main2,
  .home-main3 {
    flex-direction: column;
    align-items: center;
  }

  /* this is text */
  .home-main2-right,
  .home-main3-left {
    width: 80%;
    padding: 30px;
    color: #ebeaea;
  }

  /* this is image  */
  .home-main2-left,
  .home-main3-right {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .home-main2-left img,
  .home-main3-right img {
    width: 100%;
    /* max-width: 650px; */
  }

  /* .homeMain p {
    font-size: 18px;
  } */
}
