.rarelps {
  color: whitesmoke;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  /* background-color: rebeccapurple; */
  justify-content: space-between;
}

.rarelps-left {
  width: 35%;
  /* background-color: silver; */
}

.rarelps-left h1 {
  margin-top: 20px;
}

.rarelps-left p {
  margin: 20px 0px;
  font-size: 20px;
  line-height: 30px;
}

.rarelps-right {
  /* background-color: royalblue; */
  width: 60%;
  /* background-color: springgreen; */
}

@media all and (max-width: 768px) {
  .rarelps {
    flex-direction: column;
  }

  .rarelps-left,
  .rarelps-right {
    width: 90%;
    margin: 0 auto;
  }

  .rarelps-right {
    text-align: center;
  }
}
