.retrorecords-main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /* background: url("../resources/images/record1.jpeg"); */
}

.retrorecords-main table {
  margin: 0 auto;
  /* background-color: #fff; */
  color: bisque;
}
ß .retrorecords-main tr {
  height: 80px;
  margin: 0 auto;
}

.table-th {
  background-color: bisque;
  color: rgb(47, 79, 79);
}

.retrorecords-main td {
  width: 120px;
  /* height: 80px; */
  padding: 20px;
  font-size: 19px;
  text-align: center;
  background-color: rgba(112, 128, 144, 0.6);
  /* background-color: chartreuse; */
}

.retrorecords-main img {
  width: 90%;
  height: auto;
  /* border: 8px solid black; */
  /* padding: 5px; */
}

.retrorecords-main th {
  font-size: 23px;
}

.retrorecords-main h1 {
  margin: 30px auto;
  color: #ebeaea;
}

.modal {
  color: bisque;
  padding: 50px;
  font-size: 23px;
  font-weight: 500;
  line-height: 35px;
  width: 550px;
  /* height: 550px; */
  background-color: rgba(47, 79, 79, 0.9);
  z-index: 1;
  border-radius: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: ease-in-out 0.3s;
}
.modal-img {
  width: 100%;
  text-align: center;
}
.modal img {
  width: 200px;
}
.closeBtn {
  position: absolute;
  background-color: yellow;
  color: green;
  padding: 0px 15px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  right: 40px;
  top: 40px;
  transition: ease-in-out 0.5s;
}

.closeBtn:hover {
  color: orangered;
  transform: scale(1.2);
}

.album-cover {
  transition: ease-out 0.4s;
}
.album-cover:hover {
  transform: scale(1.2);
}

.test {
  color: white;
  font-size: 30px;
  position: relative;
}

.test h3 {
  position: absolute;
  background-color: greenyellow;
  top: 0;
}
